@import url(/comprar.css);
@import url(/a\ ciencia.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #614FC6;
    color: white;
    
}
p{
    font-family: "Inter", sans-serif;
    padding-bottom: 10px;
}

.ul li a {
    color: black;
    text-decoration: none;
    color: #0B0B0B;
    font-family: Inter;
    font-size: 14.4px;
    font-style: normal;
    font-weight: 900;
    line-height: 22.5px;
    text-transform: uppercase;
    
    
    }
    .h1:hover{
        cursor: pointer;
    
    }
.login h1{
    padding: 100px;
}
.form input{
    padding: 10px;
    margin-bottom: 20px;
    width: 500px;
    border-radius: 12px;

}
.barraroxa{
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.criarbotao{
    margin-bottom: 150px;
    padding: 10px;
    width: 500px;
    border-radius: 12px;
    text-transform: uppercase;
    background-color: #D8FFA1;
    cursor: pointer;
    transition: transform 0.3s;
}
.criarbotao:hover {
    transform: scale(1.1); /* Aumenta o tamanho do botão ao passar o mouse */
  }
.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
}

.coluna {
    min-width: 150px;
    padding: 10px;
}

.coluna h4 {
    margin-bottom: 10px;
}

.newsletter form {
    display: flex;
    align-items: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px 0 0 5px;
    flex: 1;
}

.newsletter button[type="submit"] {
    padding: 10px;
    border: 1px solid white;
    border-left: none;
    background-color: white;
    color: #614FC6;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.footer-logo {
    text-align: center;
    font-size: 48px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    margin: 150px 0;
}

.redes-sociais{
    display: flex;
    bottom: 20px;
    left: 20px;
    padding-left: 13px;
    gap: 2em;
}

#razoes {
    background-color: #614FC6;
    margin-bottom: 120px;
}